:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --primaty-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-bg-color: #2196f3;
  --footer-bg-color: #2f303a;
  --social-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Hero */

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* outline: 2px solid blue; */
}

.hero-box {
  width: 646px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 46px;

  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */

.section {
  padding-bottom: 94px;
  padding-top: 94px;
  border-bottom: 1px solid #ececec;
}

.section-title {
  display: block;
  margin: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-icon {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: var(--secondary-bg-color);
}

.feature-list .item {
  width: 270px;
  margin-right: 30px;
}

.title {
  margin: 0px;
  margin-bottom: 10px;
}

.text {
  margin: 0px;
}

.feature-list .text {
  display: block;
  width: 270px;
  height: 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* services */

.service-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.service-list .item:not(:last-child) {
  margin-right: 30px;
}

.service-title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0px;
  padding-top: 27px;

  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.service-list .item {
  position: relative;
}

/* team */
.section.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.team-list .member {
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--main-bg-color);
}

.team-list .text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 30px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.icon-detail {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--social-color);
  background-color: var(--main-bg-color);
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-detail:hover,
.icon-detail:focus {
  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
}

.detail-social {
  fill: currentColor;
}

/* Clients */

.section-title.clients {
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.client-image {
  display: flex;
  width: 170px;
  height: 90px;
  color: var(--social-color);
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-image:hover,
.client-image:focus {
  color: var(--accent-bg-color);
  border-color: var(--accent-bg-color);
}

.client-icon {
  fill: currentColor;
}

/* button */

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;

  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/* модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px;

  background: var(--main-bg-color);
}

.form.js-speaker-form {
  position: relative;
}

.form-title {
  display: block;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form-field:last-child {
  margin-bottom: 30px;
}

.form-field input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 448px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: #212121;
}

.form-field .comment {
  margin: 0;
  padding-top: 12px;
  padding-left: 16px;
}

.form-field.policy input {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.submit-button {
  width: 200px;
  height: 50px;

  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;

  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;

  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
